body {
    background: #212121;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 90vh;
    text-size-adjust: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    height: 60px;
    background: #aaaaaa;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#game {
    margin-top: 1em;
    width: 100%;
    padding: 5px;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

#board {
    padding: 2px;
    width: auto;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    animation-duration: 0.3s;
    perspective: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word {
    width: auto;
    height: auto;
    display: flex;
    justify-content: left;
}

.letter {
    font: 4rem Verdana, Courier, monospace;
    width: 8rem;
    height: 8rem;
    margin: 5px;
    border-radius: 10%;
    display: flex;
    border: 2px solid transparent;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    background-color: #101010;
    text-transform: uppercase;
}

#write .letter {
    border: 2px solid white;
}

.correct {
    background-color: green;
}

.close {
    background-color: orange;
}

.wrong {
    background-color: #101010;
}

.error {
    height: 6em;
    color: red;
}

#keyboard {
    margin-bottom: 20px;
    width: 100%;
    touch-action: manipulation;
}

.keyboard-line {
    height: auto;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    touch-action: inherit;
}

.keyboard-key {
    flex-grow: 1;
    height: 150px;
    margin: 2px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 32px Verdana, Courier, monospace;
    font-weight: bold;
    color: white;
    background-color: #757575;
    text-transform: uppercase;
    cursor: pointer;
    touch-action: inherit;
}

#answer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: white;
}