{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
<body>
    <div class="container">
        <h1 id="mainTitle">Wordle</h1>
        <h6>v0.1.0</h6>
        <p>Le mot d'hier: {{ yesterday }}</p>
        <div id="game">
            <div id="board">
                {% for word in words %}
                    <div class="word">
                        {% for letter in word %}
                            <div class="letter {{letter.result}}">{{letter.character}}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <form method="post" id="input">
                {% csrf_token %}
                {% if error %}
                    <div class="error">{{error}}</div>
                {% endif %}
                <input type="text" name="word" value="" placeholder="Type a word" />
                <button id="submit">Submit</button>
            </div>
        </div>
    </div>
</body>
</html>