{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="container">
        <h1 id="mainTitle">Wordle</h1>
        <div id="game">
            <div id="board">
                {% for word in words %}
                    <div class="word">
                        {% for letter in word %}
                            <div class="letter {{letter.result}}">{{letter.character}}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div id="input">
                <input type="text" id="word" placeholder="Type a word">
                <button id="submit">Submit</button>
            </div>
        </div>
    </div>
</body>
</html>